<!DOCTYPE html>
<html>
<head>
    <title>Utility Management</title>
    {% load static %}
    {% load leaflet_tags %}
     <style type="text/css">
         
         #gis{
            width: 100%;
            height: 600px;
         }
 </style>

<!-- REQUIRED CSS FILES -->
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Js Files -->
    <script type="text/javascript" src="{% static 'js/lib/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/leaflet-shapefile.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/shp.js' %}"></script>
    <!-- <script type="text/javascript" href="{% static 'js/lib/leaflet.ajax.js' %}"></script> -->

</head>
<body>

    <div id="gis"></div>

    <h2>Select Zipped shapefiles</h2>
    <input type="file" name="shapefiles" id="file">
    <input type="submit" name="submit" id="submit"><span id="warning"></span>

<!-- ==========================================================================
         Data Adding using Leaflet-Ajax method: Not working properly
==========================================================================  --> 
    <!--  <script>
            function our_layers(map,options){
            var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'point_dataset' %}", {
                   onEachFeature:function(feature, layer) {
                        layer.bindPopup(feature.properties.title.toString());
                    }
        });
            
            geojsonPointLayer.addTo(map);

            }
        </script>

    {% leaflet_map "map" callback="our_layers" %} -->



<script>

/* ==========================================================================
                     Adding  Multiple tile layers
========================================================================== */
var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>',
    thunLink = '<a href="http://thunderforest.com/">Thunderforest</a>';

var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    osmAttrib = '&copy; ' + osmLink + ' Contributors',
    landUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png',
    thunAttrib = '&copy; '+osmLink+' Contributors & '+thunLink;

var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib}),
    landMap = L.tileLayer(landUrl, {attribution: thunAttrib});

var map = L.map('gis', {
    layers:[osmMap]}).setView([28.2539, 83.9764], 17);

var baseLayers = {
    "OSM Mapnik": osmMap,
    "Landscape": landMap
    };
// L.control.layers(baseLayers).addTo(map);

/* =============================================================================
                            Add Required Geojson Files
============================================================================== */
/*var geojsonLayer = new L.GeoJSON.AJAX("{% url 'point_dataset' %}");       
geojsonLayer.addTo(map);*/

 var points = new L.LayerGroup();
 $.getJSON("{% url 'point_dataset' %}", function(data) {
    var geojson = L.geoJson(data, {
      onEachFeature: function (feature, layer) {
        layer.bindPopup(feature.properties.title);
      }
    });
geojson.addTo(points);
    });

var roadNetwork = new L.LayerGroup();   
$.getJSON("{% url 'road_dataset' %}", function(data){
  var geojson = L.geoJson(data, {
    onEachFeature: function(feature, layer) {
      layer.bindPopup(feature.properties.road_name);
  }
});
  geojson.addTo(roadNetwork);
  });


var wifi = new L.LayerGroup();   
$.getJSON("{% url 'wifi_dataset' %}", function(data){
  var geojson = L.geoJson(data, {
    onEachFeature: function(feature, layer) {
      layer.bindPopup(feature.properties.from_field);
  }
});
  geojson.addTo(wifi);
  });

$.getJSON("{% url 'wifi_node' %}", function(data){
  var geojson = L.geoJson(data, {
    onEachFeature: function(feature, layer) {
      layer.bindPopup(feature.properties.router_poi);
  }
});
  geojson.addTo(wifi);
  });


        var overlays = {
        "Important Places": points,
        "Road Network": roadNetwork,
        "Wifi Network": wifi
        };
L.control.layers(baseLayers,overlays).addTo(map);
L.control.scale().addTo(map);
roadNetwork.addTo(map);
wifi.addTo(map);


document.getElementById("submit").onclick = function(e){
    var files = document.getElementById('file').files;
    if (files.length == 0) {
      return; //do nothing if no file given yet
  }
  
  var file = files[0];
  
  if (file.name.slice(-3) != 'zip'){ //Demo only tested for .zip. All others, return.
        document.getElementById('warning').innerHTML = 'Select .zip file';      
    return;
  } else {
    document.getElementById('warning').innerHTML = ''; //clear warning message.
    handleZipFile(file);
  }
};

//More info: https://developer.mozilla.org/en-US/docs/Web/API/FileReader
function handleZipFile(file){
    var reader = new FileReader();
  reader.onload = function(){
      if (reader.readyState != 2 || reader.error){
          return;
      } else {
          convertToLayer(reader.result);
    }
  }
  reader.readAsArrayBuffer(file);
}

function convertToLayer(buffer){
    shp(buffer).then(function(geojson){ //More info: https://github.com/calvinmetcalf/shapefile-js
    var layer = L.shapefile(geojson).addTo(map);//More info: https://github.com/calvinmetcalf/leaflet.shapefile
    console.log(layer);
  });
}
</script>


<!-- <script type="text/javascript" src="{% static 'js/main.js' %} "></script> -->

</body>
</html>